body {
    background-color: rgb(158, 245, 233);
    background-image: url(nieve.jpg);
    background-repeat: no-repeat;
    width: 1800px;
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


#cont1 {
    background-image: url(monta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    height:700px;
    color: rgb(15, 12, 12);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;  
}

#cont2 {
    position: absolute;
    top: 20px;
    left: 20px;    
    width: 30%;
    height: 30%;


    
    button {
        background-color: rgb(117, 176, 160);
        color: black;
        padding: 10px 25px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }
    #resultado {
        color: rgb(23, 20, 20);
        font-size: 20px;
        width: auto;
        height: auto;
        background-size: cover;
        text-align: center;
        font-weight: 70;
        font-size: 23px;
        font-family: 'Times New Roman', Times, serif;
        background-color: #87e4fc;
        border-radius: 15px;
    }
    
 }

 #cont3 {
    position: absolute;
    bottom: 0px;
    left: 20px;    
    width: 800px;
    height: 260px;
    background-color: rgb(140, 140, 170);
    border-radius: 20px;
}

#img1 {
    position: absolute;
    right: 0%;
    top: 20px;
    width: 40%;
    height: 50%;
    

     }

#cont4 {
    position: absolute;
    bottom: 20px;
    right: 0px;    
    width: 30%;
    height: 40%;
    
    
}


    
